CADDY_IMAGE=ghcr.io/feocco/homelab-caddy
CADDY_VERSION=2.11.4
CADDY_IMAGE_REF=ghcr.io/feocco/homelab-caddy:2.11.4-cloudflare
HOST_BIND_ADDR=0.0.0.0
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
CADDY_ACME_EMAIL=owner@example.com
CADDY_HOME_DOMAIN=home.feocco.com
CLOUDFLARE_API_TOKEN=replace_me
