{
	auto_https off
}

http://homarr.home.arpa {
	reverse_proxy host.docker.internal:7575
}

http://grafana.home.arpa {
	reverse_proxy host.docker.internal:3000
}

http://dashy.home.arpa {
	reverse_proxy host.docker.internal:8080
}
