{
	auto_https off
}

http://homarr.home.arpa {
	reverse_proxy host.docker.internal:7575
}

http://home.arpa {
	reverse_proxy host.docker.internal:7576
}

http://homepage.home.arpa {
	reverse_proxy host.docker.internal:7576
}

http://grafana.home.arpa {
	reverse_proxy host.docker.internal:3000
}
